  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
      <span class="h1 hero-title">Quiénes somos</span>
    </div>
    <div class="text-700 mb-6">Tu alivio económico a tan solo 24 horas.</div>
    <div class="grid">
      <div class="col-12 lg:col-6">
        <div class="p-3 h-full">
          <div class="cardBox">
            <div class="card">
              <div class="front">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-users text-4xl text-blue-500"></i>
                </span>
                <br>
                <h3>Construido para empresarios y contratistas</h3>
              </div>
              <div class="back">
                <span class="spanCard">U-Monei es una fintech creada por dolientes del problema, que saben y conocen la necesidad  de los contratistas en Colombia
                  de tener apoyo económico durante los lapsos de tiempo en los que no tienen retribución económica por la prestación de sus servicios.</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-12 lg:col-6">
      <div class="p-3 h-full">
        <div class="cardBox">
          <div class="card">
            <div class="front">
              <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-stopwatch text-4xl text-blue-500"></i>
            </span>
            <h3>Liquidez inmediata</h3>
            </div>
            <div class="back">
              <span class="spanCard">Brindamos una solución de financiamiento con la que los contratistas y empresarios pueden convertir sus facturas pendientes por cobrar,
                en liquidez inmediata, convirtiéndose en una solución que no genera endeudamiento y es realmente ágil.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-6">
      <div class="p-3 h-full">
        <div class="cardBox">
          <div class="card">
            <div class="front">
              <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-chart-line text-4xl text-blue-500"></i>
            </span>
            <br>
            <h3>Modelo de negocio</h3>
            </div>
            <div class="back">
              <span class="spanCard">Nuestro modelo de negocio es colombiano, y con él buscamos la inclusión financiera digital,
                pensando en las pocas posibilidades de los trabajadores independientes de adquirir créditos o prestamos en entidades financieras.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-6">
      <div class="p-3 h-full">
        <div class="cardBox">
          <div class="card">
            <div class="front">
              <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            <h3>100% Virtual</h3>
            </div>
            <div class="back">
              <span class="spanCard">No somos prestamistas informales, somos un puente entre inversionistas y contratistas,
                por medio de una gestión 100% digital.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
