 :host {
   /**
   * colors
   */
   --russian-violet: rgb(122,43,247);
   --dark-purple: hsl(268, 22%, 15%);
   --eerie-black: hsl(240, 4%, 10%);
   --davys-gray: hsl(0, 0%, 34%);
   --light-gray: hsl(0, 0%, 84%);
   --cultured-1: hsl(0, 0%, 98%);
   --cultured-2: hsl(280, 14%, 96%);
   --cultured-3: hsl(280, 9%, 94%);
   --gainsboro: hsl(0, 1%, 85%);
   --black_10: hsla(0, 0%, 0%, 0.1);
   --black_5: hsla(0, 0%, 0%, 0.05);
   --pumpkin: rgb(0, 229, 194);
   --white: hsl(170, 0%, 100%);
   --black: hsl(0, 0%, 0%);
   --nt: #311557;
   --moradoprueba: #4A00C5;


   /**
    * typography
    */

   --ff-poppins: 'Poppins', sans-serif;
   --ff-roboto: 'Roboto', sans-serif;
   --ff-byom: 'Byom', sans-serif;

   --fs-1: 1.7rem;
   --fs-2: 1.6rem;
   --fs-3: 1.5rem;
   --fs-4: 1.4rem;
   --fs-5: 1.3rem;

   --fw-900: 900;
   --fw-700: 700;
   --fw-600: 600;
   --fw-500: 500;

 }

 .body {
  background-color: var(--white);
  font-family: var(--ff-byom);
  font-size: 17px;
 }

.container{
  border-radius: 20px;
  margin: auto;
  width: 90%;
  margin-top: 50px;
  background-color: var(--moradoprueba);
  box-shadow: 10px 10px 20px;
}

.form-box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: var(--ff-byom);
  font-size: 17px;

}

.form-box h2 {
  font-size: var(--fs-1);
  font-family: var(--ff-byom);
  margin: 20px;
  word-wrap: break-word;
  text-align: center;
  color: var(--white);
}
.h2-pagos {
  font-size: var(--fs-1);
  font-family: var(--ff-byom);
  margin: 20px;
  word-wrap: break-word;
  text-align: center;
  color: var(--black);
}
.back-pay{
  background: var(--white);
}
.form-box p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    color: var(--white);
}
.inputbox{
  position: relative;
  border-bottom: 1px solid var(--white);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
  margin-bottom: 30px;
}
input.ng-dirty.ng-invalid {
  border-bottom: 2px solid red;
}
.btn-simulator {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    height: 50px;
    border-radius: 20px;
    background: var(--pumpkin);
    color: var(--white);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--fs-1);
    font-weight: bold;
    margin-bottom: 10px;
}


.inputbox label{
  margin-bottom: 30px;
  font-family: var(--ff-byom);
  word-wrap: break-word;
  position: absolute;
  left: 5px;
  transform: translateY(-50%);
  color: var(--russian-violet);
  font-size: var(--fs-1);;
  pointer-events: none;
  transition: .5s;
}
.inputbox:is(
input:focus ~ label,
input:valid ~ label){
top: -5px;
}

.inputbox input {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background: RGBA(255,255,255, .1);
  border: none;
  outline: none;
  font-size: 17px;;
  font-family: var(--ff-byom);
  color: var(--white);
}
.content {
  background-color: whitesmoke;
}
.titleRadioBtn p{
  font-family: var(--ff-byom);
  word-wrap: break-word;
  position: relative;
  left: 5px;
  transform: translateY(-100%);
  color: var(--white);
  font-size: 17px;;
  text-align: center;
  margin-right: 20px;
}
.letterColor {
  color: var(--white);
  font-family: var(--ff-byom);
  word-wrap: break-word;
}

.letterColorLabel {
  font-family: var(--ff-byom);
  word-wrap: break-word;
  color: var(--russian-violet);
  text-align: center;
}

.range-container input {
width: 75%;
height: 20px;
margin: 10px;
padding: 0;
background-color: transparent;
}

/*DESDE AQUI SE AGREGAN*/

.flex-1 {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.btn-simulator.btn-disabled {
  background-color: var(--gainsboro); /* Color de fondo para el estado deshabilitado */
  cursor: not-allowed; /* Cambiar el cursor para cuando el botón está deshabilitado */
}

/* Add some space between the radio buttons and the message */
.message-container {
  margin-top: 10px; /* Adjust the spacing as needed */
}

/* Style the error message */
.error-message {
  background-color: #ff3333; /* Red background color */
  color: #fff; /* White text color */
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 17px;
  font-family: var(--ff-byom);
}

 /* Custom CSS for the information buttons */
 .option-with-info {
  display: flex;
  align-items: center;
  color: #6c757d;
}

.option-info {
  margin-left: 10px; /* Adjust the margin as needed */
  color: #6c757d;
}
